<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title th:text="${title} + ' - Vintage Vogue'">Vintage Vogue</title>
    <link th:href="@{/vendor/fontawesome/css/all.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/home.css}" rel="stylesheet">
    <link th:href="@{/css/cart.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:if="${title == 'Detalles del Producto'}" th:href="@{/css/product-detail.css}" rel="stylesheet">
    <link th:href="@{/images/favicon.ico}" rel="icon" type="image/png">
</head>
<body>
</body>
</html> 