<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Mensajes')">
</head>
<body>
<header th:replace="fragments/navbar :: navbar"></header>

<div class="container-fluid">
    <div class="row no-gutters">
        <!-- Sidebar for Users -->
        <div class="col-md-4 border-right">
            <div class="search-bar p-3">
                <label>
                    <input type="text" id="searchInputUser" class="form-control" placeholder="Buscar mensajes o usuarios">
                </label>
            </div>
            <ul class="list-group" id="userList">
                <!-- User Item (Dynamically populated) -->
            </ul>
        </div>

        <!-- Message Area -->
        <div class="col-md-8">
            <div class="message_header p-3 border-bottom">
                <div class="d-flex bd-highlight">
                    <div class="user_info">
                        <span id="activeUser">Selecciona un usuario para chatear</span>
                    </div>
                </div>
            </div>
            <div class="messages p-3" id="messageArea">
                <!-- Messages will be appended here -->
            </div>

            <!-- Footer for sending new messages -->
            <div class="message_footer p-3 border-top">
                <form id="messageForm">
                    <div class="input-group">
                        <label for="messageContent"></label><input type="text" class="form-control" placeholder="Escribe un mensaje" id="messageContent">
                        <div class="input-group-append">
                            <button type="submit" class="input-group-text send_btn"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

<!-- Scripts -->
<div th:replace="fragments/footer :: scripts"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/messaging.js"></script>
</body>
</html>
