<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="fragments/header :: header('Confirmación de Compra')">
</head>
<body>

<header th:replace="fragments/navbar :: navbar"></header>

<div class="container mt-5">
    <h1>Confirmar tu Compra</h1>

    <!-- Verificación de que haya items para comprar -->
    <div th:if="${cartItems != null and cartItems.size() > 0}">
        <table class="table">
            <thead>
            <tr>
                <th>Producto</th>
                <th>Imagen</th>
                <th>Precio</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${cartItems}">
                <td th:text="${item.product.name}">Nombre del Producto</td>
                <td>
                    <div th:if="${item.product.images != null and item.product.images.size() > 0}">
                        <img th:src="${item.product.images[0].url}" alt="Imagen del Producto" class="img-fluid" style="width: 100px; height: 100px; object-fit: cover;">
                    </div>
                    <div th:if="${item.product.images == null or item.product.images.size() == 0}">
                        <img th:src="@{/images/default-image.png}" alt="Imagen Predeterminada" class="img-fluid" style="width: 100px; height: 100px; object-fit: cover;">
                    </div>
                </td>
                <td th:text="'$' + ${item.product.price}">Precio del Producto</td>
                <td th:text="'$' + ${item.totalPrice}">Precio Total</td>
            </tr>
            </tbody>
        </table>
        <div class="total-price">
            <h3>Total: <span th:text="'$' + ${total}"></span></h3>
        </div>

        <!-- Botón para confirmar la compra -->
        <div class="confirm-purchase">
            <form th:action="@{/purchase/confirm}" method="post">
                <button type="submit" class="btn btn-success">Confirmar Compra</button>
            </form>
        </div>
    </div>

    <!-- Si el carrito está vacío -->
    <div th:if="${cartItems == null or cartItems.size() == 0}">
        <p>Tu carrito está vacío. <a th:href="@{/home}">Continuar Comprando</a></p>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

<!-- Scripts -->
<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>
