<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="icon" href="/images/favicon.ico" type="image/png">
    <title>SignUp/Login</title>
    <style>
        .button-1, .button-2, .login-button, .signup-button {
            cursor: pointer;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="box-1">
        <div class="content-holder">
            <h2>Welcome to Vintage Vogue!</h2>
            <button class="button-1" onclick="toggleForms()">Sign up</button>
            <button class="button-2" onclick="toggleForms()">Login</button>
        </div>
    </div>

    <div class="box-2">
        <!-- Login Form -->
        <div class="form-container" id="loginForm">
            <h1>Login Form</h1>
            <form action="/auth/login" method="post">
                <input type="text" placeholder="Username" class="input-field" name="username" required>
                <br><br>
                <input type="password" placeholder="Password" class="input-field" name="password" required>
                <br><br>
                <button class="login-button" type="submit">Login</button>
                <div th:if="${loginError}" class="error-message">
                    <p th:text="${loginError}">Invalid username or password</p>
                </div>
                <a href="/auth/forgot-password" class="forgot-password-link">Forgot your password?</a>
            </form>
        </div>

        <!-- Register Form -->
        <div class="form-container" id="registerForm" style="display: none;">
            <h1>Sign Up Form</h1>
            <form action="/auth/register" method="post">
                <input type="text" placeholder="Username" class="input-field" name="username" required>
                <br><br>
                <input type="email" placeholder="Email" class="input-field" name="email" required>
                <br><br>
                <input type="password" placeholder="Password" class="input-field" name="password" required>
                <br><br>
                <button class="signup-button" type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</div>
<script src="/js/toggleForms.js"></script>
<script src="/js/auth.js"></script>
</body>
</html>
