<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Technical Support</title>
</head>
<header class="header d-flex justify-content-between align-items-center p-3 bg-dark text-white">
  <h1>Admin Panel</h1>
  <a href="/auth/logout" class="btn btn-outline-light">Logout</a>
</header>
<body>
<div class="container">
  <h1>Technical Support</h1>
  <form id="supportForm" th:action="@{/support/submit}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="issue">Issue:</label>
    <textarea id="issue" name="issue" required></textarea>

    <button type="submit">Submit</button>
  </form>
</div>

<footer>
  <div class="footer-bottom">
    <p>&copy; 2024 Vintage Vogue. All rights reserved.</p>
  </div>
</footer>

<script th:src="@{/js/support.js}"></script>
</body>
</html>
